.container {
  margin: 0 auto;
  max-width: 960px;
}
.pizza-man{
	width: 320px;
	height: 300px;
}
.jumbotron {
  padding: 0px;
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: inherit;
  background-color: #fff; 
}
.control-label {
  margin-bottom: 2px;
  margin-top: 7px;
}
.buttons{
  margin-top: 29px;
}

.pizzaflag {
  margin: 3px 3px;
}