.container {
  margin: 0 auto;
  max-width: 960px;
}
.pizza-man{
	width: 320px;
	height: 300px;
}
.jumbotron {
  padding: 0px;
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: inherit;
  background-color: #fff; 
}
.control-label {
  margin-bottom: 2px;
  margin-top: 7px;
}
.buttons{
  margin-top: 29px;
}

.pizzaflag {
  margin-right: 3px;
  width: 36px;
  height: 36px;
}

.error {
  color: red;
}

#addressSelect {
  margin-top: 10px;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #58684B;
  border-color: #58684B;
}

a {
  color: #58684B;
  text-decoration: none;
}
a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
  z-index: 2;
  color: #fff;
  background-color: #58684B;
  border-color: #58684B;
}
.navbar {
  margin-bottom: 0px;
}

/*pizza imgs*/
.ng-scope > img {
    margin-right:15%;
    margin-left: 15%;
    width: 70%;
}

.panel-default > .panel-heading {
  color: #fff;
  background-color: #58684B;
  border-color: #58684B;
}
.panel {
  margin-top: 20px;
}