<div ng-controller="invoiceController as vmInvoice">
	<div class="row">
		<div class="col-lg-6 info-box">
			<h2>Order Confirmation</h2>
			<h3>Name</h3>
			<p>{{vmInvoice.invoiceFactory.resident.first_name}} {{vmInvoice.invoiceFactory.resident.last_name}}</p>
			<div ng-hide="vmInvoice.validEmail">
				<h3>Email</h3>
				<p>{{vmInvoice.invoiceFactory.resident.email}}</p>
			</div>
			<h3>Address</h3>
			<p>
				{{vmInvoice.invoiceFactory.houseObject.street}}<br>
	          	{{vmInvoice.invoiceFactory.houseObject.city}}, {{vmInvoice.invoiceFactory.houseObject.state}} 
	          	{{vmInvoice.invoiceFactory.houseObject.zip_code}}
          	</p>
        </div>
		<div class="col-lg-6">
			<div class="panel panel-default">
			  <!-- Default panel contents -->
			  	<div class="panel-heading">Your Order</div>
				  	<div class="panel-body">
		          		<div class="pizza" ng-switch="vmInvoice.invoiceFactory.houseObject.favorite_pizza">
							<div ng-switch-when="supreme"><img src="../images/pizza_sup.png"></div>
							<div ng-switch-when="pepperoni"><img src="../images/pizza_pepperoni.png"></div>
							<div ng-switch-when="meat"><img src="../images/pizza_meat.png"></div>
							<div ng-switch-when="bbq"><img src="../images/pizza_bbq.png"></div>
							<div ng-switch-when="veggie"><img src="../images/pizza_veg.png"></div>
							<div ng-switch-when="hawaiian"><img src="../images/pizza_hawaiian.png"></div>
							<div ng-switch-when="cheese"><img src="../images/pizza_cheese.png"></div>
							<div ng-switch-default><img src="../images/pizza_cheese.png"></div>
						</div>
			    		<p>OUR RECORDS INDICATE YOU WILL ORDER THIS {{vmInvoice.invoiceFactory.houseObject.favorite_pizza | uppercase}} PIZZA</p>
			    		<table class="table table-striped">
						<tbody>
							<tr>
								<td>Price</td>
								<td>{{19.95 | currency}}</td>
							</tr>
							<tr>
								<td>Quantity</td>
								<td>{{vmInvoice.invoiceFactory.quantity}}</td>
							</tr>
							<tr>
								<td>Tax</td>
								<td>{{(vmInvoice.invoiceFactory.quantity*19.95)*.06 | currency}}</td>
							</tr>
							<tr>
								<td>Total</td>
								<td>{{(vmInvoice.invoiceFactory.quantity*19.95)*1.06 | currency}}</td>
							</tr>
						</tbody>
					</table>
					<div class="buttons">
						<button type="submit" class="btn btn-primary">Confirm Order</button>
						<button type="reset" class="btn btn-warning">Cancel Order</button>
					</div>
				</div>					
			</div>
		</div>
	</div>	
</div>
