<div ng-controller="invoiceController as vmInvoice">
	<div class="row">
		<div class="col-lg-6">
			<h3>Name</h3>
			<h4>{{vmInvoice.invoiceFactory.resident.first_name}} {{vmInvoice.invoiceFactory.resident.last_name}}</h4>
			<h3>Email</h3>
			<h4>{{vmInvoice.invoiceFactory.resident.email}}</h4>
			<h3>Address</h3>
			<h4>{{vmInvoice.invoiceFactory.houseObject.street}}<br>
          {{vmInvoice.invoiceFactory.houseObject.city}}, {{vmInvoice.invoiceFactory.houseObject.states}} 
          {{vmInvoice.invoiceFactory.houseObject.zip_code}}</h4>
		</div>
		<div class="col-lg-6">
			<h3>You ordered the {{vmInvoice.invoiceFactory.houseObject.favorite_pizza}} Pizza...</h3>
			<img src="../images/pizza_sup.png">
		</div>
	</div>
	
	<div class="row">
		<div class="col-lg-6">
			<div class="form-group">
				<!-- <label class="control-label" for="inputDefault">Enter Quantity</label>
				<input type="text" class="form-control" id="inputDefault"> -->
			</div>
		</div>
		<div class="col-lg-6">
			<table class="table table-striped table-hover ">
				<tbody>
					<tr>
						<td>Price</td>
						<td>{{19.95 | currency}}</td>
					</tr>
					<tr>
						<td>Quantity</td>
						<td>{{vmInvoice.invoiceFactory.quantity}}</td>
					</tr>
					<tr>
						<td>Tax</td>
						<td>{{(vmInvoice.invoiceFactory.quantity*19.95)*.06 | currency}}</td>
					</tr>
					<tr>
						<td>Total</td>
						<td>{{(vmInvoice.invoiceFactory.quantity*19.95)*1.06 | currency}}</td>
					</tr>
				</tbody>
			</table>
			<div class="buttons">
				<div class="col-lg-10 col-lg-offset-2">
					<button type="submit" class="btn btn-primary">Confirm Order</button>
					<button type="reset" class="btn btn-default">Cancel Order</button>
				</div>
			</div>
		</div>
	</div>
</div>