<div ng-controller="orderFormController as vmOrderForm">
	<div class="row">
		<div class="col-lg-6">
			<h3>WE KNOW YOUR ADDRESS</h3>
			<h4>{{vmOrderForm.houseObject.street}}<br>
          {{vmOrderForm.houseObject.city}}, {{vmOrderForm.houseObject.state}} 
          {{vmOrderForm.houseObject.zip_code}}</h4>
          
          <figure>
			<img src="../images/pizza_sup.png">
			<figcaption  class="text-warning">OUR RECORDS INDICATE YOU WILL ORDER THIS PIZZA</figcaption>
		  </figure>
		</div>
		<div class="col-lg-6">
			<h3>WE KNOW WHO YOU ARE</h3>
			<h4>Whom amongst you will recieve pizza?</h4>
			    <div class="form-group">
			      <label for="select" class="col-lg-2 control-label">Name</label>
			      	<div class="col-lg-10">
				        <select class="form-control" id="select" ng-model="vmOrderForm.resident" ng-options="(resident.first_name +' '+resident.last_name) for resident in vmOrderForm.houseObject.residents|filter:vmOrderForm.validName track by resident._id"></select>
			    	</div>
			    </div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<div class="form-group">
			  <label class="control-label" for="inputDefault">Enter Quantity</label>
			  <input type="text" class="form-control" id="inputDefault" ng-model="vmOrderForm.quantity">
			</div>
		</div>
		<div class="col-lg-6">
			<div class="buttons">
      <div class="col-lg-10 col-lg-offset-2">
      	<button type="submit" class="btn btn-primary" ng-click="vmOrderForm.submitOrder()">Submit</button>
        <button type="reset" class="btn btn-default" ng-click="vmOrderForm.resetForm()">Reset</button>
      </div>
		</div>
	</div>
</div>