
<div ng-switch="vmInvoice.invoiceFactory.houseObject.favorite_pizza">
	<div ng-switch-when="supreme"><img src="../images/pizza_sup.png"></div>
	<div ng-switch-when="pepperoni"><img src="../images/pizza_pepperoni.png"></div>
	<div ng-switch-when="meat"><img src="../images/pizza_meat.png"></div>
	<div ng-switch-when="bbq"><img src="../images/pizza_bbq.png"></div>
	<div ng-switch-when="veggie"><img src="../images/pizza_veg.png"></div>
	<div ng-switch-when="hawaiian"><img src="../images/pizza_hawaiian.png"></div>
	<div ng-switch-when="cheese"><img src="../images/pizza_cheese.png"></div>
	<div ng-switch-default><img src="../images/pizza_cheese.png"></div>
</div>
